# SINDAN Configuration file
# version 5

# PID file
readonly PIDFILE=/tmp/sindan.pid

# lock file
readonly LOCKFILE_SENDLOG=/tmp/sendlog.isrunning

# result parameters
readonly FAIL=0
readonly SUCCESS=1
readonly INFO=10

# operation mode (client or probe)
readonly MODE=client

# reconnect flag (yes or no)
readonly RECONNECT=no

# verbose flag (yes or no)
readonly VERBOSE=yes

# maximum retry count
readonly MAX_RETRY=10

# exclusion settings (yes or no)
# yes: Do not perform measurement with the specified protocol
readonly EXCL_IPv4=no
readonly EXCL_IPv6=no

# target interface
# IFTYPE: Wi-Fi, WWAN (for Cellular), Ethernet
readonly IFTYPE=Wi-Fi
readonly DEVNAME=wlan0

# proxy url (e.g., http://192.0.2.1:8080)
readonly PROXY_URL=""

# target servers
readonly PING4_SRVS="8.8.8.8,203.178.139.60,1.1.1.1"
readonly PING6_SRVS="2001:4860:4860::8888,2001:200:0:180c::6,2606:4700:4700::1111"

# servers for name resolution
readonly FQDNS="dual.sindan-net.com,ipv4.sindan-net.com,ipv6.sindan-net.com"
readonly PDNS4_SRVS="8.8.8.8,1.1.1.1"
readonly PDNS6_SRVS="2001:4860:4860::8888,2606:4700:4700::1111"

# servers for web comminication
readonly WEB4_SRVS="www.wide.ad.jp,www.yahoo.co.jp"
readonly WEB6_SRVS="www.wide.ad.jp,www.google.co.jp"

# servers for ssh servers (format: <FQDN>_<keytype>)
readonly SSH4_SRVS="fluentd.sindan-net.com_ed25519"
readonly SSH6_SRVS="fluentd.sindan-net.com_ed25519"

# servers for portscan
readonly PS4_SRVS="target.sindan-net.com"
readonly PS6_SRVS="target.sindan-net.com"

# ports for portscan
readonly PS_PORTS="22,80,443"

# speedtest setting (yes or no)
readonly DO_SPEEDTEST=yes

# urls for speedtest
readonly ST_SRVS="https://api.inonius.net/"

# upload urls
readonly URL_CAMPAIGN="http://fluentd.sindan-net.com:8888/sindan.log_campaign"
readonly URL_SINDAN="http://fluentd.sindan-net.com:8888/sindan.log"

# privacy
readonly LOCAL_NETWORK_PRIVACY=no
readonly CLIENT_PRIVACY=no
#readonly CMD_HASH="/usr/bin/shasum -a 256"
readonly CMD_HASH="/usr/bin/shasum"
